<div class="container-presenca">
  <div class="abas-nav">
    <button type="button" [class.ativa]="abaAtiva === 'colaborador'" (click)="trocarAba('colaborador')">
      Diaria Colaborador
    </button>
  </div>

  <div class="abas-nav">
    <button type="button" [class.ativa]="abaAtiva === 'lider'" (click)="trocarAba('lider')">
      Diaria Líder
    </button>
  </div>
</div>

<hr>

<form *ngIf="abaAtiva === 'colaborador'" [formGroup]="formColaborador" (ngSubmit)="salvarColaborador()">
  <h3> Registro de Diaria - Colaborador </h3>

  <div class="campo">
    <label for="dataColab">Data:</label>
    <input type="date" id="dataColab" formControlName="data">
    <small *ngIf="formColaborador.get('data')?.invalid && formColaborador.get('data')?.touched" class="erro">
      A data é obrigatória.
    </small>
  </div>

  <div class="campo">
    <label for="colaboradorSelect">Colaborador:</label>
    <select id="colaboradorSelect" formControlName="colaborador">
      <option value="">Selecione um colaborador</option>
      <option *ngFor="let colab of listaDeColaboradores" [ngValue]="colab">
        {{ colab.nome }}
      </option>
    </select>
    <small *ngIf="formColaborador.get('colaborador')?.invalid && formColaborador.get('colaborador')?.touched" class="erro">
      O colaborador é obrigatório.
    </small>
  </div>

  <div class="campo">
    <label for="operacaoSelect">Operação:</label>
    <select id="operacaoSelect" formControlName="operacao">
      <option value="">Selecione uma operação</option>
      <option *ngFor="let op of listaDeOperacoes" [ngValue]="op">
        {{ op.nome }}
      </option>
    </select>
    <small *ngIf="formColaborador.get('operacao')?.invalid && formColaborador.get('operacao')?.touched" class="erro">
      A operação é obrigatória.
    </small>
  </div>

  <button type="submit" [disabled]="formColaborador.invalid"> Enviar Diaria Colaborador </button>
</form>

<form *ngIf="abaAtiva === 'lider'" [formGroup]="formLider" (ngSubmit)="salvarLider()">
  <h3> Registro de Diaria - Líder </h3>

  <div class="campo">
    <label for="dataLider">Data:</label>
    <input type="date" id="dataLider" formControlName="data">
    <small *ngIf="formLider.get('data')?.invalid && formLider.get('data')?.touched" class="erro">
      A data é obrigatória.
    </small>
  </div>

  <div class="campo">
    <label for="liderSelect">Líder:</label>
    <select id="liderSelect" formControlName="lider">
      <option value="">Selecione o Líder</option>
      <option *ngFor="let lid of listaDeLideres" [ngValue]="lid">
        {{ lid.nome }}
      </option>
    </select>
    <small *ngIf="formLider.get('lider')?.invalid && formLider.get('lider')?.touched" class="erro">
      O líder é obrigatório.
    </small>
  </div>

  <button type="submit" [disabled]="formLider.invalid">Enviar Diária Líder</button>
</form>