<mat-card>
  <mat-toolbar>
    <span class="titulo-centralizado"> Gestão de Lideres </span>

    <span class="spacer"></span>

    <button matFab extended (click)="incluir()" class="botao-incluir">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="lideres$ | async as lideres; else loading">
    <table mat-table [dataSource]="lideres" class="mat-elevation-z8">

      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <span class="header-conteudo">
            ID <mat-icon>account_box</mat-icon>
          </span>
        </th>
        <td mat-cell *matCellDef="let lider"> {{ lider.id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nomeLider">
        <th mat-header-cell *matHeaderCellDef> Nome do Lider
            <mat-icon>person</mat-icon>
        </th>
        <td mat-cell *matCellDef="let lider"> {{lider.nomeLider}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="rgLider">
        <th mat-header-cell *matHeaderCellDef> RG do lider
            <mat-icon>pin</mat-icon>
        </th>
        <td mat-cell *matCellDef="let lider"> {{lider.rgLider}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cpfLider">
        <th mat-header-cell *matHeaderCellDef> CPF do Lider
                <mat-icon>subtitles</mat-icon>
        </th>
        <td mat-cell *matCellDef="let lider"> {{lider.cpfLider}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="chavePix">
        <th mat-header-cell *matHeaderCellDef> Chave PIX
                    <mat-icon>key</mat-icon>
        </th>
        <td mat-cell *matCellDef="let lider"> {{lider.chavePix}} </td>
      </ng-container>


      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let lider">
          
          <button mat-icon-button (click)="edit(lider)" class="botao-editar" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="delete(lider)" class="botao-excluir" title="Excluir">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loagind-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>