<mat-card>
  <mat-toolbar>
    <span class="titulo-centralizado"> Gestão das Operações </span>

    <span class="spacer"></span>

    <button matFab extended (click)="incluir()" class="botao-incluir">
      <mat-icon>warehouse</mat-icon>
    </button>
  </mat-toolbar>

  <ng-container *ngIf="operacoes$ | async as operacoes; else loading">
    <mat-table [dataSource]="operacoes" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <span class="header-conteudo">
            ID <mat-icon>account_box</mat-icon>
          </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let operacao"> {{ operacao.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nomeOperacao">
        <mat-header-cell *matHeaderCellDef> 
          Nome da Operação <mat-icon>warehouse</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let operacao">
          {{ operacao.nomeOperacao }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let operacao">

          <button mat-icon-button (click)="edit(operacao)" class="botao-editar" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="delete(operacao)" class="botao-excluir" title="Excluir">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>

  <ng-template #loading>
    <div class="loagind-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>