<mat-card>
  <mat-toolbar>
    <span class="titulo-centralizado"> Gestão dos Lideres </span>

    <span class="spacer"></span>

    <button matFab extended (click)="incluir()" class="botao-incluir">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>

  <app-compartilhado-list *ngIf="lideres$ | async as lideres; else loading"  [lideres]="lideres"
    (inclui)="incluir()" (edita)="edit($event)" (deleta)="delete($event)"> </app-compartilhado-list>
  
  <ng-template #loading>
    <div class="loagind-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>